<ion-header>
  <ion-toolbar>
    <ion-title>New card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div #reader id="reader" [class.reader]="isScanning"></div>
  <div id="input" [class.input]="isScanning">
    <ion-input
      #cardNumber
      label="Card code"
      label-placement="floating"
      fill="outline"
      [(ngModel)]="card.number"
    ></ion-input>
    <ion-input
      #cardName
      label="Card name"
      label-placement="floating"
      fill="outline"
      [(ngModel)]="card.name"
    ></ion-input>
    <ion-select
      #cardFormat
      aria-label="selected format"
      label-placement="floating"
      fill="outline"
      label="Card format"
      [(ngModel)]="card.format"
    >
      <ion-select-option value="QRCODE">QR-CODE</ion-select-option>
      <ion-select-option value="EAN13">EAN-13</ion-select-option>
      <ion-select-option value="CODE39">CODE-39</ion-select-option>
      <ion-select-option value="CODE128">CODE-128</ion-select-option>
    </ion-select>
    <div class="color-container">
      <div class="color-select">
        <label><h1>R {{color.red}}</h1></label>
        <ion-range
          aria-label="color red"
          [min]="0"
          [max]="255"
          color="danger"
          [(ngModel)]="color.red"
        ></ion-range>
      </div>
      <div class="color-select">
        <label><h1>G {{color.green}}</h1></label>
        <ion-range
          aria-label="color green"
          [min]="0"
          [max]="255"
          color="success"
          [(ngModel)]="color.green"
        ></ion-range>
      </div>
      <div class="color-select">
        <label><h1>B {{color.blue}}</h1></label>
        <ion-range
          aria-label="color blue"
          [min]="0"
          [max]="255"
          [(ngModel)]="color.blue"
        ></ion-range>
      </div>
    </div>
    <div class="color" [style.background]="backgroundColor"></div>
  </div>
  <div class="controls">
    <div class="btn-container">
      @if(isScanning) {
      <ion-button color="danger" (click)="stopScan()" [disabled]="!isScanning"
        >Cancel</ion-button
      >
      } @else {

      <ion-button color="primary" (click)="startScan()" [disabled]="isScanning"
        >Scan card</ion-button
      >
      <ion-button
        color="success"
        (click)="addCard(cardName.value?.toString() || '', cardNumber.value?.toString() || '', cardFormat.value?.toString() || '')"
        [disabled]="isScanning"
        >Save</ion-button
      >

      }
    </div>
  </div>
</ion-content>
