:host {
  height: 5rem;
  display: block;
  margin: 0.5rem 1rem;
}
a {
  border-radius: 0.5rem;
}
.text-container {
  padding: 0rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  text-decoration: none;
}

h1 {
  margin: 0;
  font-size: xx-large;
  font-family: condensed;
  color: white;
  font-weight: bolder;
}
