<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{card.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="card" [class.loaded]="loaded">
      @if(invalid){
      <h1>Invalid number/format</h1>
      }
      <div
        class="color"
        [class.loaded-container]="!invalid"
        [style.background]="backgroundColor"
      >
        <canvas id="img" class="code" [class.loaded]="!invalid"></canvas>
      </div>
    </div>

    @if(loaded){
    <div id="input">
      <ion-input
        #cardNumber
        label="Card code"
        label-placement="floating"
        fill="outline"
        value="{{ card.number }}"
        (ionChange)="onInputChange(cardName.value?.toString() || '', cardNumber.value?.toString() || '', cardFormat.value?.toString() || '')"
      ></ion-input>
      <ion-input
        #cardName
        label="Card name"
        label-placement="floating"
        fill="outline"
        value="{{ card.name }}"
        (ionChange)="onInputChange(cardName.value?.toString() || '', cardNumber.value?.toString() || '', cardFormat.value?.toString() || '')"
      ></ion-input>
      <ion-select
        #cardFormat
        aria-label="selected format"
        value="{{ card.format }}"
        label-placement="floating"
        fill="outline"
        label="Card format"
        (ionChange)="onInputChange(cardName.value?.toString() || '', cardNumber.value?.toString() || '', cardFormat.value?.toString() || '')"
      >
        <ion-select-option value="QRCODE">QR-CODE</ion-select-option>
        <ion-select-option value="EAN13">EAN-13</ion-select-option>
        <ion-select-option value="CODE39">CODE-39</ion-select-option>
        <ion-select-option value="CODE128">CODE-128</ion-select-option>
      </ion-select>
    </div>
    <div class="color-container">
      <div class="color-select">
        <label><h1>R</h1></label>
        <ion-range
          aria-label="color red"
          [min]="0"
          [max]="255"
          [value]="255"
          [pin]="true"
          color="danger"
          [(ngModel)]="card.color.red"
        ></ion-range>
      </div>
      <div class="color-select">
        <label><h1>G</h1></label>
        <ion-range
          aria-label="color green"
          [min]="0"
          [max]="255"
          [value]="255"
          [pin]="true"
          color="success"
          [(ngModel)]="card.color.green"
        ></ion-range>
      </div>
      <div class="color-select">
        <label><h1>B</h1></label>
        <ion-range
          aria-label="color blue"
          [min]="0"
          [max]="255"
          [value]="255"
          [pin]="true"
          [(ngModel)]="card.color.blue"
        ></ion-range>
      </div>
    </div>
    <div class="btn-container">
      <ion-button color="danger" (click)="deleteAlert.present()"
        >Delete</ion-button
      >
      <ion-button
        color="success"
        (click)="editCard(cardName.value?.toString() || '', cardNumber.value?.toString() || '', cardFormat.value?.toString() || '')"
        >Save</ion-button
      >
    </div>
    <ion-alert
      #deleteAlert
      header="Are you sure you want to delete this card?"
      [buttons]="deleteButtons"
    ></ion-alert>
    }@else {
    <div class="spinner-container">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
    }
  </div>
</ion-content>
